.nav-bar {
  background-color: grey;
    a {
    color: white;
    }
    a:hover {
      color: green;
    }
}

.ver-nav {
  width: 200px;
  background-color: grey;
  a {
    color: aliceblue;
  }
}

