.dropdown:hover >.dropdown-menu {
  display: block;
}

/* Style the sidenav links and the dropdown button */
.dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.dropdown-toggle:hover {
  color: #55c2b7;
}

.dropdown-menu {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}
