.feedback {
  margin-right: -30px;
  transform: rotate(270deg);
  right: 0;
  position: absolute;
  margin-top: 25px;

  .btn {
    background-color: $brown;
    box-shadow: 1px 1px 5px;
    color: $white_pink;
    border-color: $light_brown;
    box-shadow: 1px 1px 5px;
  }

  .btn:hover {
    color: $white;
  }
}
