@import 'color';

body {
  padding-top: 54px;
}
  
@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.home {
  background-color: $light_brown;

  .pagination {
    .page-item.active .page-link {
      color: $white_pink;
      background-color: $brown;
      border-color: $white_pink;
    }
    
    .page-link {
      border: 1px solid $brown;
      background-color: $brown;
    }
    
    .page-link:hover {
      background-color:$light_brown;
    }
  
    a {
      color: $white_pink;
    }
  
    a:hover {
      color: $white;
    }
  }
}

.dropup {
  .btn {
    -webkit-transform: rotate(270deg);
    margin-top: 150px;
    margin-right: -50px;
    float: right;
    color: $white_pink;
  }

  .btn:hover {
    display: block;
  }
}

.navbar {
  background-color: $brown;
  box-shadow: 1px 1px 5px;
}

.search-form {
  padding-left: 300px;
}

.btn-outline-success {
  color: $white_pink;
  border-color: $light_brown;
}

input, textarea, select, .uneditable-input {
  border: 1px solid $light_gray;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
  margin-bottom: 0px;
}

#error_explanation {
  color: $red;
  ul {
    color: $red;
    margin: 0 0 30px 0;
  }
}

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

#nganluong {
  display: none;
}

.product_table { 
  .btn.btn-primary {
    float: right;
  }
}
