@import 'color';

body {
  padding-top: 54px;
  background-color: $alice_blue;
  }
  
@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.dropbtn {
  background-color: $gray20;
  color: $white;
  padding: 16px;
  font-size: 16px;
  cursor: pointer;
  width: 250px;
  text-align: left;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: $snow;
  min-width: 160px;
  box-shadow: $gray20;
  z-index: 1;
  right: 0;
}

.dropdown-content a {
  color: $black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: $white_smoke
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: $black;
}

input, textarea, select, .uneditable-input {
  border: 1px solid $light_gray;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

#error_explanation {
  color: $red;
  ul {
    color: $red;
    margin: 0 0 30px 0;
  }
}

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

#nganluong {
  display: none;
}
