.custom-card {
  margin: 45px;
  background-color: $brown;
  box-shadow: inset 1px 1px 10px;
  border-radius: 10px;

  img {
    height: 300px;
  }

  a {
    color: #D46A6A;
  }

  a:hover {
    text-decoration: none;
    color: $white;
  }
}

.custom-card:hover {
  color: $light_brown;
}

.carousel-inner {
  margin-top: 30px;
  margin-bottom: 30px;
}

.carousel img {
  border-radius: 30px;
}

.carousel {
  padding-top: 10px;
  padding-bottom: 10px;
  img {
    height: 450px;
  }
}

.carousel-item {
  border-style: inset;
  border-radius: 30px;
  box-shadow: inset 2px 2px 10px;
}

.product {
  background-color: $light_brown;
  
  h3, h4, p {
    color: white;
  }

  .form-check {
    padding-left: 0px;
  }

  .form-check-input {
    margin-left: -25rem;
  }
  
  .text-warning {
    margin: 0%;
  }

  .card {
    border-radius: 10px;
    box-shadow: inset 2px 2px 5px;
    background-color: $brown;

    .btn {
      margin: 5px;
    }

    .card-body {
      .btn-primary {
        border-radius: 5px;
        box-shadow: 1px 1px 3px;
      }
    }

    .card-footer {
      padding: 0px;

      .btn-success {
        box-shadow: 1px 1px 5px;
      }

      .btn-success:hover {
        box-shadow: inset 1px 1px 5px;
      }
    }
  }
}
