$gray20: #333333;
$white: white;
$snow: #f9f9f9;
$black: black;
$white_smoke: #f1f1f1;
$light_gray: #bbb;
$red: red;
$alice_blue: aliceblue;
$brown: #801616;
$white_pink: #FFAAAA;
$light_brown: #AA3939;
$light_pink: #D46A6A;
