<div>
  <% @categories.each do |category| %>
    <button class="dropdown btn btn-infor"> 
      <%= link_to  category.name, category, class: "dropdown-toggle"%>
      <ul class="dropdown-menu">
      <% category.children.each do |child| %>
        <li><%= link_to child.name, category_path(child.id) %></li>
      <% end %>
      </ul>
    </button>
  <% end %>
</div>


