<li class="dropdown">
  <%= link_to t(".categories"), "#", class: "btn btn-primary" %>
  <ul class="dropdown-menu">
    <li>
      <%= link_to t(".food"),
        category_path(1) %>
    </li>
    <li>
      <%= link_to t(".drink"),
        category_path(2) %>
    </li>
  </ul>
</li>
