<div class="row">
  <div class="col-md-12 ml-auto mr-auto">
    <%= link_to products_path(sort: :name, order: :asc), class: "btn btn-fab" do %>
      <i class="fas fa-sort-alpha-down"></i>
    <% end %>
    <%= link_to products_path(sort: :name, order: :desc), class: "btn btn-fab" do %>
      <i class="fas fa-sort-alpha-down-alt"></i>
    <% end %>
    <%= link_to products_path(sort: :price, order: :asc), class: "btn btn-fab" do %>
      <i class="fas fa-sort-amount-down-alt"></i>
    <% end %>
    <%= link_to products_path(sort: :price, order: :desc), class: "btn btn-fab" do %>
      <i class="fas fa-sort-amount-down"></i>
    <% end %>
  </div>
</div>
