<div class="card custom-card" style="width: 18rem;">
  <% if product.picture? %>
    <%= link_to image_tag(product.picture.url,
      class: "card-img-top"), product_path(product) %>
  <% end %>
  <div class="card-body">
    <p class="card-text">
      <%= link_to  product.name, product_path(product) %>
    </p>
  </div>
</div>

